@import "tailwindcss";

@theme {
  --color-primary-1: #245127;
  --color-secondary-1: #fcf055;
  --color-secondary-2: #797b78;
  --font-inter: var(--font-inter);
  --font-poppins: var(--font-poppins);
  --font-ojuju: var(--font-ojuju);
  --font-switzer: var(--font-switzer);
}

@layer utilities {
  .bg-hero {
    background-image: linear-gradient(to bottom, rgba(48, 66, 52, 0.7)),
      url("../assets/home/hero.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .bg-place-order {
    background-image: url("../assets/home/place-order.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .bg-stockup {
    background: linear-gradient(to left, #baaf25 0%, #73824d 43%, #8eb797 98%);
  }
}

@layer base {
  *::before,
  *::after,
  * {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
  }

  html {
    box-sizing: border-box;
    /* 1rem = 10px */
    font-size: 62.5%;
    scroll-behavior: smooth !important;
  }

  body {
    font-size: 1.6rem;
  }

  img {
    max-width: 100%;
  }

  textarea,
  input {
    font-size: 16px !important;
  }

  /* Firefox */
  input[type="number"] {
    /* Firefox */
    -moz-appearance: textfield;

    /* Standard */
    appearance: textfield;

    /* Webkit browsers (Chrome, Safari, newer Edge) */
    -webkit-appearance: textfield;
  }

  /* slick styling */
  .slick-arrow {
    display: none !important;
  }

  .slick-dots {
    bottom: -4rem !important;
  }

  .slick-dots li {
    width: 1.2rem !important;
    height: 1.2rem !important;
    background-color: #d9d9d9 !important;
    margin-right: 1rem !important;
    border-radius: 100% !important;
    -webkit-border-radius: 100% !important;
    -moz-border-radius: 100% !important;
    -ms-border-radius: 100% !important;
    -o-border-radius: 100% !important;
  }

  .slick-dots li.slick-active {
    background-color: #6cc57f !important;
    border: 1px #245127 solid !important;
  }

  .slick-dots li button::before {
    content: "" !important;
  }

  /* styling for the scrollbar */
  ::-webkit-scrollbar {
    width: 10px;
    /* display: none; */
  }

  @media all and (max-width: 850px) {
    ::-webkit-scrollbar {
      width: 0px;
    }
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #78a57b;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #245127;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #459a4b;
  }
}
