@import "tailwindcss";

@theme {
  --color-primary-1: #245127;
  --color-secondary-1: #fcf055;
  --color-secondary-2: #797b78;
  --font-inter: var(--font-inter);
  --font-poppins: var(--font-poppins);
  --font-ojuju: var(--font-ojuju);
  --font-switzer: var(--font-switzer);
}

@layer utilities {
  .bg-hero {
    background-image: linear-gradient(to bottom, rgba(48, 66, 52, 0.7)),
      url("../assets/home/hero.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@layer base {
  *::before,
  *::after,
  * {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
  }

  html {
    box-sizing: border-box;
    /* 1rem = 10px */
    font-size: 62.5%;
    scroll-behavior: smooth !important;
  }

  body {
    font-size: 1.6rem;
  }

  img {
    max-width: 100%;
  }

  textarea,
  input {
    font-size: 16px !important;
  }

  /* Firefox */
  input[type="number"] {
    /* Firefox */
    -moz-appearance: textfield;

    /* Standard */
    appearance: textfield;

    /* Webkit browsers (Chrome, Safari, newer Edge) */
    -webkit-appearance: textfield;
  }
}
