@import "tailwindcss";

@theme {
  --color-primary-1: #245127;
  --color-secondary-1: #fcf055;
  --color-secondary-2: #797b78;
  --font-inter: var(--font-inter);
  --font-poppins: var(--font-poppins);
  --font-ojuju: var(--font-ojuju);
  --font-switzer: var(--font-switzer);
  --breakpoint-*: initial;
  --breakpoint-2xl: 1300px;
  --breakpoint-xl: 1200px;
  --breakpoint-xlg: 1100px;
  --breakpoint-lg: 1000px;
  --breakpoint-xmd: 900px;
  --breakpoint-md: 800px;
  --breakpoint-smd: 700px;
  --breakpoint-sm: 600px;
  --breakpoint-ssm: 500px;
}

@layer utilities {
  .bg-hero {
    background-image: url("../assets/home/hero.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .bg-place-order {
    background-image: url("../assets/home/place-order.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .bg-stockup {
    background: linear-gradient(to left, #baaf25 0%, #73824d 43%, #8eb797 98%);
  }
}

@layer base {
  *::before,
  *::after,
  * {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
  }

  html {
    box-sizing: border-box;
    /* 1rem = 24px */
    font-size: 150%;
    scroll-behavior: smooth !important;
  }

  @media screen and (max-width: 3000px) {
    html {
      /* 1rem = 16px */
      font-size: 100%;
    }
  }

  @media screen and (max-width: 2000px) {
    html {
      /* 1rem = 14px */
      font-size: 87.5%;
    }
  }

  @media screen and (max-width: 1800px) {
    html {
      /* 1rem = 12px */
      font-size: 75%;
    }
  }

  @media screen and (max-width: 1600px) {
    html {
      /* 1rem = 10px */
      font-size: 62.5%;
    }
  }

  @media screen and (max-width: 1100px) {
    html {
      /* 1rem = 9px */
      font-size: 56.25%;
    }
  }

  @media screen and (max-width: 600px) {
    .reserveDate {
      width: 100% !important;
    }
  }

  @media screen and (max-width: 400px) {
    html {
      /* 1rem = 8px */
      font-size: 50%;
    }
  }

  body {
    font-size: 1.6rem;
  }

  img {
    max-width: 100%;
  }

  textarea,
  input {
    font-size: 16px !important;
  }

  /* Firefox */
  input[type="number"] {
    /* Firefox */
    -moz-appearance: textfield;

    /* Standard */
    appearance: textfield;

    /* Webkit browsers (Chrome, Safari, newer Edge) */
    -webkit-appearance: textfield;
  }

  /* slick styling */
  .slick-arrow {
    display: none !important;
  }

  .slick-dots {
    bottom: -4rem !important;
  }

  .slick-dots li {
    width: 1.2rem !important;
    height: 1.2rem !important;
    background-color: #d9d9d9 !important;
    margin-right: 1rem !important;
    border-radius: 100% !important;
    -webkit-border-radius: 100% !important;
    -moz-border-radius: 100% !important;
    -ms-border-radius: 100% !important;
    -o-border-radius: 100% !important;
  }

  .slick-dots li.slick-active {
    background-color: #6cc57f !important;
    border: 1px #245127 solid !important;
  }

  .slick-dots li button::before {
    content: "" !important;
  }

  /* styling for the scrollbar */
  ::-webkit-scrollbar {
    width: 10px;
    /* display: none; */
  }

  @media all and (max-width: 850px) {
    ::-webkit-scrollbar {
      display: none;
    }
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #78a57b;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #245127;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #459a4b;
  }

  /* react paginate */
  .paginate-page-link {
    color: black;
    background-color: transparent;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    font-weight: medium;
    font-size: 1.4rem;
    transition: all 150ms ease-in;
    cursor: pointer;
    -webkit-transition: all 150ms ease-in;
    -moz-transition: all 150ms ease-in;
    -ms-transition: all 150ms ease-in;
    -o-transition: all 150ms ease-in;
    margin-right: 1rem;
  }

  .paginate-page-link:hover {
    background-color: #c9e0cb;
  }

  .paginate-page-link.paginate-active-page-link {
    background-color: #c9e0cb;
  }

  /* cart items scroll style */
  .cartItems::-webkit-scrollbar {
    width: 5px;
    /* display: none; */
  }

  @keyframes showHeaderKeyFrame {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }

  .showHeader {
    animation: showHeaderKeyFrame 1.5s ease-in;
    -webkit-animation: showHeaderKeyFrame 1.5s ease-in;
  }

  .menuNav::-webkit-scrollbar,
  .orderMenu::-webkit-scrollbar {
    display: none;
  }
}
